@import 'src/stylings/colors.scss';

.mat-toolbar.mat-primary {
    background: $primary-color;
    color: $secondary-color;  
    height: 70px;
  }

  .mat-button{
    font-size: 25px;
    line-height: 70px;
    border-radius: 0px;
  }

  .spacer{
    flex: 1 1 auto;
  }

  .search-by-text{
    border-radius: 25px;
    text-align: center;
    height: 40px;
    font-size: 20px;
  }

  .log-button{
    border-radius: 25px;
    text-align: center;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-right: 20px;
  }

  .log-button:hover{
    color: $primary-color;
  }

  .logo-image{
    padding-right: 16px;
  }