<mat-toolbar color="primary">
    <img src="assets/images/PokeLogo.png" alt="logo" class="logo-image">
    
    <a [routerLinkActive]="'active'" mat-button routerLink="home">Home</a>
    <a [routerLinkActive]="'active'" mat-button routerLink="detail">Detail</a>
    <a *ngIf="adminDataService.getIsAdmin()" [routerLinkActive]="'active'" mat-button routerLink="createproduct">Create Product</a>
    <a *ngIf="adminDataService.getIsAdmin()" [routerLinkActive]="'active'" mat-button routerLink="productlist">Product List</a>

    <div class="spacer"></div>

    <input type="text" placeholder="Search Pokemon..." class="search-by-text"/>
  </mat-toolbar>